{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Editar produto: {{ produto.nome }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.quantidade.label(class="form-label") }}
            {{ form.quantidade(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.preco.label(class="form-label") }}
            {{ form.preco(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-success">Salvar alterações</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}