{% extends 'base.html' %}

{% block content %}

    <a href="{{ url_for('add_produto') }}" class="btn btn-primary mb-3">Adicionar Produto</a>
    <form method="GET" action="{{ url_for('index') }}" class="d-flex">
        <input type="text" name="q" class="form-control mb-2" placeholder="Buscar produto..." value="{{ request.args.get('q', '') }}">
        {% if request.args.get('q') %}
            <a href="{{ url_for('index') }}" class="btn btn-secondary mb-2">Voltar</a>
        {% else %}    
            <button type="submit" class="btn btn-secondary mb-2">Buscar</button>
        {% endif %}
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço (R$)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>R$ {{ "%.2f"|format(produto.preco) }}</td>
                <td>
                    {% if session.get('usuario_id') %}
                        <a href="{{ url_for('editar_produto', id=produto.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{{ url_for('delete_produto', id=produto.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if session.get('usuario_id') %}
        <div class="d-flex justify-content-end">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Encerrar Sessão</a>
        </div>
    {% endif %}
</div>
{% endblock %}
