{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('add_produto') }}" class="btn btn-primary mb-3">Adicionar Produto</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>R$ {{ produto.preco }}</td>
                <td>
                    <a href="{{ url_for('delete_produto', id=produto.id) }}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
