.stock-tag {
  display: flex;
  width: 172px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  flex-shrink: 0;
  border-radius: 24px;
  border: 2px solid var(--stock-onstock);
  color: var(--stock-onstock);
}
